
/*
  left navigation bar
*/
#sideNav {
  display: none;
}

/*
  right sidebar - friends list 
*/
.fbChatSidebar {
  display: none !important;;
}

/*
  right sidebar - events/sponsored/stories/marketplace
*/
.pagelet {
  display: none;
}

/*
  element containing number of likes/reactions
*/
[data-testid="fbFeedStoryUFI/feedbackSummary"] {
  display: none;
}

/*
  comments section
*/
[data-testid*="CommentsList"] {
  display: none;
}

/*
  top navigation bar
*/
[role="banner"] {
  background-color: #212121 !important;
  border-bottom: 1px solid #000 !important;
}

/*
  feed cards
*/
.userContentWrapper {
  background-color: #424242;
  color: white !important;
}

[id*="hyperfeed_story_id"] > div::before {
  border: 2px solid #424242 !important;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

[id*="hyperfeed_story_id"] > div {
  background: #424242;
  border: 2px solid #424242 !important;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

/*
  feed cards children
*/
.userContentWrapper * {
  color: white !important;
}

/*
  page
*/
body { 
  background-color: #303030 !important; 
  background: #303030 !important;
}

/*
  main-content column
*/
#contentCol {
  background-color: #303030 !important; 
  background: #303030 !important;
}

/*
  TODO: ???
*/
[data-testid="react-composer-root"] {
  background-color: #303030 !important;
  background: #303030 !important;
}

[data-testid="react-composer-root"] > div {
  background-color: #303030 !important;
  background: #303030 !important;
  border: none !important;
}

[data-testid="react-composer-root"]::before {
  border: none !important;
}

[data-testid="react-composer-root"] > div > span > span {
  display: none;
}

[data-testid="collapsed_sprouts"] {
  display: none;
}

[data-testid="react-composer-root"] > div > div > div > div {
  border-top: none;
}

/*
  sidebar - languages
*/
#pagelet_rhc_footer {
  display: none;
}

/*
  top nav - search bar
*/
[role="search"] {
  display: none;
}

/*
  top nav - notifications, friends, messages, links
*/
[role="navigation"] {
  display: none !important;
}

/* event footer info */
[style="max-width:500px;"] > div:nth-last-child(1) {
  display: none;
}

/*
  remove links that take you outside facebook
*/
[target="_blank"] {
  display: none;
}

[class*="lfloat"] {
  display: none;
}

[role="button"] {
  background: #424242 !important; 
}

[role="button"]:hover {
  background: #212121 !important; 
}

/* side arrow in sponsored */
[role="button"] > div {
  background: #424242 !important;
  border: none;
}

[data-testid="react-composer-footer"] > div {
  background: #424242;
}

[data-testid="react-composer-post-button"] {
  background: #424242 !important;
  border: none !important;
}

.uiList > li > div {
  display: none;
}

.uiLikePageButton {
  display: none;
}

.userContent + div > div {
  border-top-color: #303030 !important;
}

/*
  all borders
*/

* {
  border-color: #212121 !important;
}

/*
  What's on your mind box at top
*/
#feedx_sprouts_container > div {
  display: none;
}

/*
  Loading placeholders
*/

[data-testid="fbfeed_placeholder_story"] {
  background-color: #424242 !important;
  background: #424242 !important;
}

[data-testid="fbfeed_placeholder_story"] > div::before {
  background-color: #424242 !important;
  background: #424242 !important;
}

[data-testid="fbfeed_placeholder_story"] > div > div {
  background-color: #212121 !important;
  background: #212121 !important;
}

[data-testid="fbfeed_placeholder_story"] > * {
  background-color: #424242 !important;
  background: #424242 !important;
}